<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/header') %>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <main class="col-12 pt-3 border-start">
                <div class="min-vh-100 d-flex justify-content-center align-items-center">
                    <%- body %>
                </div>
            </main>
        </div>
    </div>
    <%- include('partials/footer') %>
</body>

</html>
