<div class="col-12">
    <h2 class="text-center mb-3">Welcome to Anchor!</h2>

    <div class="d-flex flex-wrap align-items-center justify-content-center gap-3">
        <% if (user) { %>
            <span>You are logged in as <%= user.username %>.</span>
            <a href="/auth/logout" class="btn btn-outline-primary">Logout</a>
        <% } else { %>
            <a href="/auth/login" class="btn btn-outline-primary">Login</a>
            <a href="/auth/register" class="btn btn-primary">Register</a>
        <% } %>
    </div>
</div>