<footer class="footer mt-auto py-3 bg-light">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <span class="text-muted">&copy; <%= new Date().getFullYear() %> Anchor</span>
            </div>
            <div class="col-lg-6 text-lg-end">
                <span class="text-muted">Developed as part of the ALX Software Engineering Program</span>
            </div>
        </div>
    </div>
</footer>

<script src="/socket.io/socket.io.js"></script>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/timeago.js/timeago.min.js"></script>
<script src="/simplemde/simplemde.min.js"></script>
<script src="/js/main.js"></script>
